.mui-card-container {

}

.mui-card {
  padding: 0;
  margin: 0;
}

.mui-card-media {
  &, * {
    width: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
}

.mui-card-text-container {
  padding-left: 16px;
  padding-right: 16px;
}
.mui-card-title {
  @extend .mui-font-style-title;
  font-weight: 400;
  margin-bottom: 0;
}

.mui-card-caption {
  @extend .mui-font-style-caption;
  font-size: 13px;
}

.mui-card-actions-container {
  margin: 0 8px 8px 8px;
}

.mui-card-action.mui-flat-button {
  min-width: 8px;
  .mui-flat-button-label {
    padding: 8px;
  }
}
