.mui-dialog-window {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -10000px;
  width: 100%;
  transition: left 0ms $ease-out-function 450ms;

  .mui-dialog-window-contents {
    @include ease-out();
    position: relative;
    width: $dialog-standard-width;
    max-width: ($dialog-standard-max-width * 12);
    margin: 0 auto;
    z-index: 10;
    background: $canvas-color;
    opacity: 0;
    &.mui-dialog-window-full-width {
      width: 99%;
      max-width: calc(100% - #{$dialog-gutter * 2});
    }
  }

  .mui-dialog-window-actions {
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    text-align: right;

    .mui-dialog-window-action {
      margin-right: 8px;
    }
  }

  &.mui-is-shown {
    left: 0;
    transition: left 0ms $ease-out-function 0ms;

    .mui-dialog-window-contents {
      height: 200px;
      &:not(.mui-dialog-window-full-height) {
        margin-top: calc(50vh - #{$dialog-standard-height/2} - #{$dialog-gutter});
      }
      &.mui-dialog-window-full-height {
        height: calc(100vh - #{$dialog-gutter * 2});
      }
      overflow-y: scroll;
      opacity: 1;
      transform: translate3d(0, $dialog-gutter, 0);
      &.mui-paper > .mui-paper-container {
        height: 0;
      }
    }
  }
}
